body{
background-color: #fdcf58;
}

body.agitado{
	background-color: red;
}


.header{
	font-weight: bolder;
	text-align: center;
	font-size: 10em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.footer{
	font-style: italic;
	font-size: xX-large;
	position: absolute;
	bottom: 10px;
	align-content: center;
}

.lectura{
	display: block;
	background-color: darkorange;
	color: darkslategrey;
	border: 2px;
	border-radius: 10px;
	width: 90%;
	height: auto;
	padding: 30px;
	font-size: 10em;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
}